.DS_Store
__pycache__

OPENAI_KEY.py

# large files
prel_explanationsDMA30-InputXGradient-full_model-feb02-10000-cleaned.tsv
prel_explanationsDMA30-InputXGradient-full_model-feb02-10000.tsv
sgd-data-ext.pkl
sgd-data-slim.pkl
SGA_DAmP.txt
SGA_ExN_NxE.txt
SGA_ExE.txt
SGA_NxN.txt
aao1729_data_s1.tsv

interactions.pkl
interactions_DMA30.pkl
pyg_graph_c_DMA30_fitness.pkl
pyg_graph_c_interactions_DMA30.pkl
pyg_graph_box_interactions_DMA30.pkl
refined_interactions_DMA30.pkl
refined_interactions.pkl

all_graphs-no-int.ttl
all_graphs.ttl
chebi.ttl
full-kg-no-int.ttl
full-kg.ttl
go-ext.ttl
kg-nf-no-int.ttl
kg-nf.ttl

datasplit.pkl
20250211-123659-reg.pkl
20250202-102800-reg.pkl

large_files*